{% extends 'base.html' %}


{% block content %}
<br>
    <h2>{{post.title}}</h2>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure to delete this Post?</p>
        <input type="submit" value="Yes">
    </form>
{% endblock content %}