{% extends 'base.html' %}


{% block content %}
<br>
    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-light">
            {{post_form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-warning float-right">Update</button>
    </form>
{% endblock content %}