{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Django Central</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link href="{% static 'css/css.css' %}" rel="stylesheet" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Demo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="#">About</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="#">Policy</a>
          </li>
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>

  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}

  <!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; Django Central</p>
  </footer>
  <!-- bootstrap scripts -->
  <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"> </script>
  <script src="{% static 'js/popper.min.js' %}"> </script>
  <script src="{% static 'js/bootstrap.min.js' %}"> </script>
</body>
</html>